@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&family=Open+Sans:wght@300;400;500;600;700&display=swap");
/* Projects descriptions */
/* Project Gif */
/* Project Logic / GitHub ReadMee */
/* write to local storage previous Color mode */
/* MObile viewPort */

:root {
  --color-bg: #e5e5e5;
  --color-main: #4a5363;
  /* --color-main: #677180; */
  --color-accent: rgb(95, 158, 160);
  --color-accent-l: rgb(119, 192, 194);
  --color-font-p: black;
  --color-font-h: #384252;
  --color-font-p-reverse: #ffffff;
  --color-font-h-reverse: #f4f4f4;

  --font-p: "Nunito Sans", sans-serif;
  --font-h: "Open Sans", sans-serif;
  --font-m: "Dongle", sans-serif;
  --font-weight-h: 400;

  --box-border-profile-top: 1px solid #f9f9f9;
  --box-border-profile: 1px solid #f9f9f9;

  --box-border-lighter: 1px solid #ffffff;
  --box-border-light: 1px solid #6d7d8c;
  --box-border-dark: 1px solid #4a5363;
  --box-border-darker: 1px solid rgb(29, 29, 29);
  --box-border-radius: 6px;
  --box-shadow: 0px 7px 8px -6px black;

  --shadow-card: ;
  --width-max: 1000px;
  --height-navbar: 60px;
  --height-profile: 20vh;
  --height-footer: 60px;
}

/* DARK MODE */
.dark {
  --color-bg: #14171c;
  --color-main: #292d37;
  --color-font-p: #dfdfdf;
  --color-font-p-reverse: #e4e4e4;
  --color-font-h: #ced2da;
  --color-font-h-reverse: #dfdfdf;
  --font-weight-h: 300;

  --box-border-profile-top: 1px solid #3c3c3c;
  --box-border-profile: 1px solid #222222;

  --box-border-lighter: 1px solid #6d6d6d;
  --box-border-light: 1px solid #464646;
  --box-border-dark: 1px solid #3e3e3e;
  --box-border-darker: 1px solid rgb(29, 29, 29);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-family: var(--font-p);
  background-color: var(--color-bg);
  color: var(--color-font-p);
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
a:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

h1 {
  font-family: var(--font-h);
  /* line-height: 5rem; */
  font-size: 4vh;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

h2 {
  font-family: var(--font-h);
  /* line-height: 3rem; */
  font-size: 2.4vh;
  font-weight: 500;
  letter-spacing: 0.08rem;
}

h3 {
  font-family: var(--font-h);
  line-height: 3vh;
  font-size: 1.6vh;
  font-weight: lighter;
  letter-spacing: 0.08rem;
}

h4,
h5 {
  font-family: var(--font-m);
  font-size: 44px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.06rem;
}
h5 {
  font-weight: 400;
}
h6 {
  font-family: var(--font-m);
  font-size: 24px;
  line-height: 20px;
  font-weight: 400;
}

.container {
  position: relative;
  max-width: var(--width-max);
  margin: auto;
  height: 100%;
}

section {
  scroll-snap-align: center;
}

#bodyContainer {
  width: 100%;
  height: 100%;

  /* overflow-y: scroll;
  scroll-behavior: smooth; */
}

/* NAV BAR */

header {
  width: 100%;
  height: var(--height-navbar);
  position: fixed;
  background-color: var(--color-bg);
  z-index: 3;
}

nav {
  max-width: var(--width-max);
  height: 100%;
  /* border: 1px solid red; */
  margin: auto;
}

#navMenu {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: right;
  padding-right: 100px;
  font-family: var(--font-m);
  font-size: 28px;
  color: var(--color-font-h);
  font-weight: var(--font-weight-h);
}

#navMenu li {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
  transition: 0.2s;
}

#colorMode {
  position: absolute;
  right: 0;
  height: 20px;
  cursor: pointer;
  transition: 0.3s;
  filter: invert(56%) sepia(34%) saturate(393%) hue-rotate(133deg) brightness(95%) contrast(92%);
}

#colorMode:hover {
  transform: scale(1.2);
  color: var(--color-accent-l);
}

/* #navMenu li:hover {
  background-color: var(--color-main);
  color: var(--color-font-p-reverse);
  color: var(--color-accent-l);
  transform: scale(1.1);
  cursor: pointer;
} */

/* PROFILE */
#landing {
  position: relative;
  /* padding-top: 6vh; */
  padding-top: var(--height-navbar);
  height: 100vh;
}

#profileWrap {
  position: relative;
  height: var(--height-profile);
  background-color: var(--color-main);
  z-index: 3;
}

#profile {
  display: flex;
  min-height: 24vh;
}

#profilePic {
  position: relative;
  height: 24vh;
  left: 100px;
  top: -2.1vh;
  z-index: 4;
  border: var(--box-border-profile);
  border-top: var(--box-border-profile-top);
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
}

#mainContainer {
}

#profileText {
  position: relative;
  margin-top: 0.5vh;
  left: 160px;
  color: var(--color-font-h-reverse);
  list-style: none;
}

#profileSocMed {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

#profileSocMed .fa-brands {
  font-size: 2vh;
  /* transition: all 0.2s ease-in-out; */
}

#profileSocMed .fa-brands:hover {
  color: var(--color-accent-l);
}

/* INFO */
#infoWrap {
  height: calc(100% - var(--height-navbar) - var(--height-profile));
}

#info {
  margin-top: 6vh;
  position: relative;
  padding: 20px 56px;
  border: var(--box-border-light);
  border-radius: var(--box-border-radius);
}

#info p {
  text-indent: 20px;
  font-size: 18px;

  /* font-size: 1.6vh; */
}

#info hr {
  margin: 24px;
  border: 1px solid var(--color-accent-l);
}

#timeTable p {
  margin: 4px;
}

#toolsWrap {
  position: absolute;
  height: 14vh;
  width: 100%;
  bottom: 0;
}

#tools {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.tool {
  text-align: center;
  font-size: 5vh;
  line-height: 5vh;
  height: 5vh;
  color: var(--color-font-h);
}

/* PROJECTS */
#projectsWrap {
  /* min-height: calc(100vh - var(--height-navbar)); */
  /* margin-top: var(--height-navbar); */
  padding-top: var(--height-navbar);
  position: relative;
  background-color: var(--color-main);
  color: var(--color-font-p-reverse);
  padding-bottom: 40px;
}

#projectsWrap h4 {
  line-height: 3rem;
  font-size: 3rem;
  padding-top: 40px;
  text-align: center;
}

.project {
  margin: 40px auto;
  max-width: 1100px;
  max-height: 400px;
  position: relative;
  padding: 40px;
  border: var(--box-border-light);
  border-radius: var(--box-border-radius);
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.projectPicWrap {
  position: relative;
  z-index: 1;
}

.projectPic-m,
.projectPic {
  box-shadow: var(--box-shadow);
  border: var(--box-border-dark);
  border-radius: var(--box-border-radius);
}

.projectPic-m {
  height: 280px;
  width: 300;
}
.project a:hover {
  transform: scale(1.2);
  z-index: 2;
}

.projectPic {
  height: 300px;
  width: 476px;
}

.animated {
}
.static {
  position: absolute;
}

.static:hover {
  opacity: 0;
}

/* #projectDinner {
  display: block;

  background-image: url("./img/projects/whatsForDinner.png");
}
#projectDinner:hover {
  background-image: url("./img/projects/whatsForDinner-576.gif");
  transform: scale(1.2);
} */

.projectInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: 300px;
}
.projectInfoWrap p {
  flex-grow: 1;
}

.projectInfoWrap h6 {
  text-decoration: underline;
}

.projectInfoWrap a {
  display: inline-block;
}

.projectInfoWrap a:hover {
  color: var(--color-accent-l);
}

.projectInfoWrap label {
  font-size: 14px;
  font-weight: 300;
}

.projectInfoWrap figure {
  display: flex;
  gap: 10px;
  font-size: 32px;
  font-weight: 200;
}
.projectInfoWrap span {
  font-size: 22px;
  line-height: 100%;
  align-self: center;
}

/* CONTACT */
#contactWrap {
  background-color: var(--color-bg);
  height: calc(100vh - var(--height-navbar) - var(--height-footer));
}

#contactWrap .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#contactForm {
  position: relative;
  background-color: var(--color-main);
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 100px;
  border-radius: var(--box-border-radius);
  box-shadow: var(--box-shadow);
  border-top: var(--box-border-lighter);
  border-bottom: var(--box-border-dark);
}

#contactForm h4 {
  color: var(--color-font-h-reverse);
  position: absolute;
  align-self: center;

  top: 20px;
  /* bottom: 0; */
  /* top: 80px; */

  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
  z-index: 2;
}

#contactForm label {
  visibility: hidden;
  color: var(--color-font-h-reverse);
  /* font-family: var(--font-m); */
  font-weight: 100;
  font-size: 16px;
  line-height: 14px;
  padding: 6px 8px 3px;
}

#contactForm input {
  height: 30px;
  color: var(--color-font-p);
}

#contactForm input,
textarea {
  padding: 8px;
  background-color: var(--color-bg);
  border-radius: var(--box-border-radius);
  border: var(--box-border-light);
  background-color: var();
}

#contactForm textarea {
  resize: vertical;
  color: var(--color-font-p);
}

/* #nameInput:not(:placeholder-shown) #labelName {
  visibility: hidden;
} */

#sendForm {
  margin-top: 20px;
  background-color: var(--color-accent);
  border: solid 1px var(--color-accent-l);
  border-radius: var(--box-border-radius);
  color: var(--color-font-h-reverse);
  font-size: 16px;
  width: 120px;
  height: 30px;
  align-self: flex-end;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: 0.3s;
}

#sendForm:hover {
  background-color: var(--color-accent-l);
  box-shadow: none;
  transform: scale(0.98);
}

#contactSocMed {
  display: flex;
  gap: 44px;
  margin-top: 40px;
  font-size: 56px;
  color: var(--color-main);
}

#contactSocMed i {
  text-shadow: -0px 0 rgb(77, 77, 77), 0 0px rgb(77, 77, 77), 0px 0 rgb(77, 77, 77), 0 -01px rgb(96, 96, 96);
  transition: 0.3s;
  /* text-shadow: 0px 2px 2px #656565; */
}

#contactSocMed i:hover {
  color: var(--color-accent);
  transform: scale(1.1);
}

footer {
  height: var(--height-footer);
  text-align: center;
  font-family: var(--font-m);
  font-size: 22px;
  line-height: 22px;
  font-weight: 200px;
  color: rgb(116, 116, 116);
  background-color: var(--color-bg);
}
